{{ ansible_managed | comment }}
{% macro systemd_pstore_pstore(key, value) -%}
{% if value is defined -%}
{{ key }} = {{ value }}
{%- endif -%}
{% endmacro %}
[PStore]
{{ systemd_pstore_pstore('Storage', systemd_pstore_storage) }}
{{ systemd_pstore_pstore('Unlink', systemd_pstore_unlink) }}
