# {{ ansible_managed }}
[Resolve]
{% if systemd_resolved_dns | length %}
DNS = {{ systemd_resolved_dns | join(' ') }}
{% else %}
DNS = {{ ansible_default_ipv4.gateway }}
{% endif %}
Domains = {{ systemd_resolved_domains | join(' ') }}
LLMNR = {{ systemd_resolved_llmnr }}
MulticastDNS = {{ systemd_resolved_multicastdns }}
DNSSEC = {{ systemd_resolved_dnssec }}
DNSOverTLS = {{ systemd_resolved_dnsovertls }}
Cache = {{ systemd_resolved_cache }}
DNSStubListener = {{ systemd_resolved_dnsstublistener }}
ReadEtcHosts = {{ systemd_resolved_readetchosts }}
