{{ ansible_managed | comment }}
{% macro systemd_logind_login(key, value) -%}
{% if value is defined -%}
{{ key }} = {{ value }}
{%- endif -%}
{% endmacro %}
[Login]
{{ systemd_logind_login('NAutoVTs', systemd_logind_nautovts) }}
{{ systemd_logind_login('ReserveVT', systemd_logind_reservevt) }}
{{ systemd_logind_login('KillUserProcesses', systemd_logind_killuserprocesses) }}
{{ systemd_logind_login('KillOnlyUsers', systemd_logind_killonlyusers) }}
{{ systemd_logind_login('KillExcludeUsers', systemd_logind_killexcludeusers) }}
{{ systemd_logind_login('IdleAction', systemd_logind_idleaction) }}
{{ systemd_logind_login('IdleActionSec', systemd_logind_idleactionsec) }}
{{ systemd_logind_login('InhibitDelayMaxSec', systemd_logind_inhibitdelaymaxsec) }}
{{ systemd_logind_login('UserStopDelaySec', systemd_logind_userstopdelaysec) }}
{{ systemd_logind_login('HandlePowerKey', systemd_logind_handlepowerkey) }}
{{ systemd_logind_login('HandleSuspendKey', systemd_logind_handlesuspendkey) }}
{{ systemd_logind_login('HandleHibernateKey', systemd_logind_handle_hibernatekey) }}
{{ systemd_logind_login('HandleLidSwitch', systemd_logind_handlelidswitch) }}
{{ systemd_logind_login('HandleLidSwitchExternalPower', systemd_logind_handlelidswitchexternalpower) }}
{{ systemd_logind_login('HandleLidSwitchDocked', systemd_logind_handlelidswitchdocked) }}
{{ systemd_logind_login('PowerKeyIgnoreInhibited', systemd_logind_powerkeyignoreinhibited) }}
{{ systemd_logind_login('SuspendKeyIgnoreInhibited', systemd_logind_suspendkeyignoreinhibited) }}
{{ systemd_logind_login('HibernateKeyIgnoreInhibited', systemd_logind_hibernatekeyignoreinhibited) }}
{{ systemd_logind_login('LidSwitchIgnoreInhibited', systemd_logind_lidswitchignoreinhibited) }}
{{ systemd_logind_login('HoldoffTimeoutSec', systemd_logind_holdofftimeoutsec) }}
{{ systemd_logind_login('RuntimeDirectorySize', systemd_logind_runtimedirectorysize) }}
{{ systemd_logind_login('InhibitorsMax', systemd_logind_inhibitorsmax) }}
{{ systemd_logind_login('SessionsMax', systemd_logind_sessionsmax) }}
{{ systemd_logind_login('RemoveIPC', systemd_logind_removeipc) }}
