{{ ansible_managed | comment }}
{% macro systemd_networkd_network(key, value) -%}
{% if value is defined -%}
{{ key }} = {{ value }}
{%- endif -%}
{% endmacro %}
[Network]
{{ systemd_networkd_network('SpeedMeter', systemd_networkd_network_speedmeter) }}
{{ systemd_networkd_network('SpeedMeterIntervalSec', systemd_networkd_network_speedmeterintervalsec) }}
{{ systemd_networkd_network('ManageForeignRoutingPolicyRules', systemd_networkd_network_manageforeignroutingpolicyrules) }}
{{ systemd_networkd_network('ManageForeignRoutes', systemd_networkd_network_manageforeignroutes) }}
{{ systemd_networkd_network('RouteTable', systemd_networkd_network_routetable) }}

[DHCPv4]
{{ systemd_networkd_network('DUIDType', systemd_networkd_dhcpv4_duidtype) }}
{{ systemd_networkd_network('DUIDRawData', systemd_networkd_dhcpv4_duidtyperawdata) }}
{{ systemd_networkd_network('UseDomains', systemd_networkd_dhcpv4_usedomains) }}

[DHCPv6]
{{ systemd_networkd_network('DUIDType', systemd_networkd_dhcpv6_duidtype) }}
{{ systemd_networkd_network('DUIDRawData', systemd_networkd_dhcpv6_duidtyperawdata) }}
{{ systemd_networkd_network('UseDomains', systemd_networkd_dhcpv6_usedomains) }}
