{{ ansible_managed | comment }}
[Journal]
Storage = {{ systemd_journald_storage }}
Compress = {{ systemd_journald_compress }}
Seal = {{ systemd_journald_seal }}
SplitMode = {{ systemd_journald_splitmode }}
RateLimitInterval = {{ systemd_journald_ratelimitinterval }}
RateLimitBurst = {{ systemd_journald_ratelimitburst }}
SystemMaxUse = {{ systemd_journald_systemmaxuse }}
SystemKeepFree = {{ systemd_journald_systemkeepfree }}
SystemMaxFileSize = {{ systemd_journald_systemmaxfilesize }}
SystemMaxFiles = {{ systemd_journald_systemmaxfiles }}
RuntimeMaxUse = {{ systemd_journald_runtimemaxuse }}
RuntimeKeepFree = {{ systemd_journald_runtimekeepfree }}
RuntimeMaxFileSize = {{ systemd_journald_runtimemaxfilesize }}
RuntimeMaxFiles = {{ systemd_journald_runtimemaxfiles }}
MaxFileSec = {{ systemd_journald_maxfilesec }}
MaxRetentionSec = {{ systemd_journald_maxretentionsec }}
SyncIntervalSec = {{ systemd_journald_syncintervalsec }}
ForwardToSyslog = {{ systemd_journald_forwardtosyslog }}
ForwardToKMsg = {{ systemd_journald_forwardtokmsg }}
ForwardToConsole = {{ systemd_journald_forwardtoconsole }}
ForwardToWall = {{ systemd_journald_forwardtowall }}
MaxLevelStore = {{ systemd_journald_maxlevelstore }}
MaxLevelSyslog = {{ systemd_journald_maxlevelsyslog }}
MaxLevelKMsg = {{ systemd_journald_maxlevelkmsg }}
MaxLevelConsole = {{ systemd_journald_maxlevelconsole }}
MaxLevelWall = {{ systemd_journald_maxlevelwall }}
ReadKMsg = {{ systemd_journald_readkmsg }}
TTYPath = {{ systemd_journald_ttypath }}
LineMax = {{ systemd_journald_linemax }}
