{{ ansible_managed | comment }}
{% macro systemd_journald_journal(key, value) -%}
{% if value is defined -%}
{{ key }} = {{ value }}
{%- endif -%}
{% endmacro %}
[Journal]
{{ systemd_journald_journal('Storage', systemd_journald_storage) }}
{{ systemd_journald_journal('Compress', systemd_journald_compress) }}
{{ systemd_journald_journal('Seal', systemd_journald_seal) }}
{{ systemd_journald_journal('SplitMode', systemd_journald_splitmode) }}
{{ systemd_journald_journal('RateLimitInterval', systemd_journald_ratelimitinterval) }}
{{ systemd_journald_journal('RateLimitBurst', systemd_journald_ratelimitburst) }}
{{ systemd_journald_journal('SystemMaxUse', systemd_journald_systemmaxuse) }}
{{ systemd_journald_journal('SystemKeepFree', systemd_journald_systemkeepfree) }}
{{ systemd_journald_journal('SystemMaxFileSize', systemd_journald_systemmaxfilesize) }}
{{ systemd_journald_journal('SystemMaxFiles', systemd_journald_systemmaxfiles) }}
{{ systemd_journald_journal('RuntimeMaxUse', systemd_journald_runtimemaxuse) }}
{{ systemd_journald_journal('RuntimeKeepFree', systemd_journald_runtimekeepfree) }}
{{ systemd_journald_journal('RuntimeMaxFileSize', systemd_journald_runtimemaxfilesize) }}
{{ systemd_journald_journal('RuntimeMaxFiles', systemd_journald_runtimemaxfiles) }}
{{ systemd_journald_journal('MaxFileSec', systemd_journald_maxfilesec) }}
{{ systemd_journald_journal('MaxRetentionSec', systemd_journald_maxretentionsec) }}
{{ systemd_journald_journal('SyncIntervalSec', systemd_journald_syncintervalsec) }}
{{ systemd_journald_journal('ForwardToSyslog', systemd_journald_forwardtosyslog) }}
{{ systemd_journald_journal('ForwardToKMsg', systemd_journald_forwardtokmsg) }}
{{ systemd_journald_journal('ForwardToConsole', systemd_journald_forwardtoconsole) }}
{{ systemd_journald_journal('ForwardToWall', systemd_journald_forwardtowall) }}
{{ systemd_journald_journal('ForwardToSocket', systemd_journald_forwardtosocket) }}
{{ systemd_journald_journal('MaxLevelStore', systemd_journald_maxlevelstore) }}
{{ systemd_journald_journal('MaxLevelSyslog', systemd_journald_maxlevelsyslog) }}
{{ systemd_journald_journal('MaxLevelKMsg', systemd_journald_maxlevelkmsg) }}
{{ systemd_journald_journal('MaxLevelConsole', systemd_journald_maxlevelconsole) }}
{{ systemd_journald_journal('MaxLevelWall', systemd_journald_maxlevelwall) }}
{{ systemd_journald_journal('MaxLevelSocket', systemd_journald_maxlevelsocket) }}
{{ systemd_journald_journal('ReadKMsg', systemd_journald_readkmsg) }}
{{ systemd_journald_journal('Audit', systemd_journald_audit) }}
{{ systemd_journald_journal('TTYPath', systemd_journald_ttypath) }}
{{ systemd_journald_journal('LineMax', systemd_journald_linemax) }}
